@import url("https://fonts.googleapis.com/css2?family=Modak&family=Noto+Sans+JP&display=swap");
/* font-family: 'Modak', cursive;
font-family: 'Noto Sans JP', sans-serif; */
body {
  font-size: 15px;
  line-height: 1.5;
  font-family: "Noto Sans JP", sans-serif;
}
.container {
  padding: 40px;
}
.text-center {
  text-align: center;
}
h1,
h2,
h3 {
  font-family: "Modak", cursive;
  margin: 20px 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
}

header h1 {
  position: relative;
}
header h1::before {
  content: "";
}
/* my fav songs */
.my-fav-songs .container {
  display: grid;
}
.my-fav-songs ol {
  list-style: decimal;
  display: grid;
  margin: auto;
  margin: 0 auto;
  grid-template-columns: repeat(2, 100px);
  justify-items: center;
  justify-self: center;
}
/* xp */
.xp ul {
  list-style: square;
  padding-left: 20px;
}
.xp ul ul {
  list-style: circle;
}
/* footer */
footer {
  color: white;
  background-color: black;
}
